<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poversee.neon" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailInfoActivity"
            android:label="@string/title_activity_detail_info"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.poversee.neon.DashboardActivity" />
        </activity>
        <activity
            android:name=".LampuKamar"
            android:label="@string/title_activity_lampu_kamar"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.poversee.neon.DashboardActivity" />
        </activity>
        <activity
            android:name=".AcKamar"
            android:label="@string/title_activity_ac_kamar"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.poversee.neon.DashboardActivity" />
        </activity>
        <activity
            android:name=".KipasKamar"
            android:label="@string/title_activity_kipas_kamar"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.poversee.neon.DashboardActivity" />
        </activity>
        <activity
            android:name=".LampuDepan"
            android:label="@string/title_activity_lampu_depan"
            android:parentActivityName=".DashboardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.poversee.neon.DashboardActivity" />
        </activity>
		<activity
            android:name=".splashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
    </application>

</manifest>
